{% extends 'base.html.twig' %}

{% block title %}MovieDB{% endblock %}

{% block body %}

<h1>Liste des films</h1>

<ul>
    {% for movie in movies %}
    <li><a href="{{ path('movie_show', {slug: movie.slug}) }}">{{ movie.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}